__pycache__
env/
.DS_Store
.vscode
slurk-telegram/token.txt
ccbts/html_test
ccbts/90_cocobots_blockworld

#Wordle
wordle/data/image_datasets/*
*.swp
wordle/scripts/pairs/wordhoard_error.yaml
wordle/scripts/pairs/terms*
